
body {
  background-color: #a8a8a8;
  text-align: center
  
}

header {
  background-image: url('../../assets/stage.png');
  height: 150%;
  padding-top: 1%;
  font-size: 250%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
  color: darkkhaki;
  font-weight: normal;

}

#foot {
  position: absolute;
  bottom: 0;
  background-image: url('../../assets/boxoffice.png');
  background-size: 100% 100%;
  width: 100%;
  height: 25%;
}

p {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  font-size: 1.2em;
  width: 100%;
}