
body {
  background-color: #a8a8a8;
  text-align: center
  
}

header {
  background-image: url('../../assets/stage.png');
  height: 150%;
  padding-top: 1%;
  font-size: 250%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Abril Fatface', cursive;
  color: darkkhaki;
  font-weight: normal;

}

h1 {

}

footer {
  background-image: url('../../assets/boxoffice.jpg');
}